@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;900&display=swap");

html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  min-height: 100vh;
  font-family: "Hanken Grotesk";
}

.main-container {
  display: flex;
  justify-content: center;
  width: 50%;
  width: 600px;
  height: 420px;
}

.header-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  color: hsl(0, 0%, 100%);
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
  width: 50%;
}

.heading {
  margin: 2.5rem;
  font-weight: 700;
  opacity: 70%;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

.final-score {
  font-weight: 800;
  font-size: 5rem;
  margin: 0;
  color: hsl(0, 0%, 100%);
}

.total-score {
  margin: 0;
  font-weight: 250;
  font-size: 1.5rem;
  color: hsla(241, 100%, 89%, 0.41);
}

.header-component > h2 {
  margin-bottom: 10px;
}

.header-component > p:last-of-type {
  margin: 0 auto 40px auto;
  width: 70%;
  font-weight: 150;
  text-align: center;
  font-size: 1.5rem;
  opacity: 60%;
}

.summary-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 1.5rem 1.5rem 0;
  width: 50%;
  margin: 0;
  row-gap: 0px;
}

.summary-component > p {
  text-align: left;
  font-weight: 800;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  width: 80%;
}

.row-reaction {
  background-color: hsla(0, 100%, 95%, 1);
}

.row-memory {
  background-color: hsla(39, 100%, 95%, 1);
}

.row-verbal {
  background-color: hsla(166, 100%, 95%, 1);
}

.row-visual {
  background-color: hsla(234, 85%, 95%, 1);
}

.row-reaction,
.row-memory,
.row-verbal,
.row-visual {
  margin-left: 5%;
  margin-right: 5%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  width: 75%;
  margin: 1rem;
}

.info-reaction {
  color: hsl(0, 100%, 67%);
}

.info-memory {
  color: hsl(39, 100%, 56%);
}

.info-verbal {
  color: hsl(166, 100%, 37%);
}

.info-visual {
  color: hsl(234, 85%, 45%);
}

.info {
  text-align: left;
  flex: 1;
  margin-left: 10px;
  font-size: 1.6rem;
  font-weight: 600;
}

.marks {
  text-align: right;
  font-weight: 700;
  margin-right: 5px;
  font-size: 1.6rem;
}

.total {
  opacity: 0.8;
  font-size: 1.6rem;
}

button {
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  width: 82%;
  border-radius: 3rem;
  padding: 1.2rem;
  margin-bottom: 4rem;
  margin-top: 1.5rem;
  border: none;
}

.attribution {
  position: fixed;
  bottom: 20px;
}

@media only screen and (max-width: 480px) {
  body {
    display: flex;
    justify-content: center;
  }
  .attribution {
    display: none;
  }
  .header-component {
    border-radius: 0 0 1.5rem 1.5rem;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: unset;
  }
  .heading {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
  }
  .header-component > h2 {
    font-size: 2rem;
  }
  .header-component > p:last-of-type {
    margin-bottom: 3rem;
  }
  .score {
    width: 130px;
    height: 130px;
  }
  .main-container {
    flex-direction: column;
    justify-content: center;
  }
  .summary-component {
    box-shadow: none;
    width: 100%;
    margin-left: 0px;
  }
  .summary-component > p {
    margin-top: 2rem;
    width: 85%;
  }
  .heading {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .row {
    margin: 0.8rem;
  }
  .row-reaction,
  .row-memory,
  .row-verbal,
  .row-visual {
    width: 80%;
  }
  button {
    width: 85%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
  }
}
